@model GalloFlix.DataTransferObjects.LoginDto
@{
  ViewData["Title"] = "Login";
}

@section Styles {
<link rel="stylesheet" href="~/css/login.css">
}

<div class="text-center">
  <h1 class="display-4">Login</h1>
</div>
@* TagHelper - Auxiliar de Tag *@
<form method="post" class="col-md-6 offset-md-3 col-lg-4 offset-lg-4 mt-5">
  <div asp-validation-summary="All" class="text-danger" hidden></div>
  <div class="mb-3">
    <label asp-for="Email" class="form-label"></label>
    <input asp-for="Email" class="form-control">
    <span asp-validation-for="Email" class="text-danger"></span>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input asp-for="Password" class="form-control">
    <span asp-validation-for="Password" class="text-danger"></span>
  </div>
  <div class="mb-3 form-check">
    <input asp-for="RememberMe" class="form-check-input">
    <label asp-for="RememberMe" class="form-check-label"></label>
  </div>
  <button type="submit" class="w-100 btn btn-primary">Entrar</button>
  <a asp-action="Forget" class="w-100 d-block text-center forgetPassword mt-3">
    Esqueceu sua senha?
  </a>

  <div class="border-text"></div>

  <a asp-action="Register" class="w-100 btn btn-success mt-2">Criar Conta</a>
</form>

@section Scripts {
<partial name="_ValidationScriptsPartial"></partial>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  let mensagemErro = '';
  $(".validation-summary-errors ul li").each(function () {
    mensagemErro += $(this).text() + '<br/>'
  });

  if (mensagemErro != '') {
    Swal.fire(
      'Acesso Negado',
      mensagemErro,
      'error'
    );
  }
</script>
}